<h1>{{'heathers.hi'|translate}} {{currentUser.firstName}}!</h1>
<h3>{{'heathers.all_users'|translate}}</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">{{'button.delete'|translate}}</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">{{'actions.login'|translate}}</a></p>
<p><a [routerLink]="['/customers']">{{'actions.see_customers'|translate}}</a></p>
<p><a [routerLink]="['/add']">{{'actions.add_customer'|translate}}</a></p>


